ul,
input {
  all: unset;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6rem;
  font-size: 2rem;
  background-color: beige;
}

.navbar {
  margin-left: 2rem;
}

.logo {
  color: green;
  margin-right: 1rem;
}

.navbar-count,
.add-button,
.reset-button {
  background-color: green;
  color: white;
}

.add-form {
  display: flex;
  align-items: center;
  height: 4rem;
}

input,
.add-button,
.reset-button {
  margin-left: 1rem;
  font-size: 1.5rem;
}

input {
  border: 2px solid rgb(69, 156, 156);
  border-radius: 2px;
}

.add-button,
.reset-button {
  padding: 3px 10px;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count,
.navbar-count {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  border-radius: 50%;

  color: white;
}

.habit-count {
  background-color: darkseagreen;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0, 0.1em;
  background-color: transparent;
}

.habit-button:hover,
.add-button:hover,
.reset-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
  vertical-align: baseline;
}
